.dialog-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.row-direction-container {
  display: flex;
  flex-direction: column;
}

.buttons-row {
  button {
    margin: 4px;
  }
}
