<table mat-table [dataSource]="sourceTypeTable" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="SelectAction">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
                (change)="$event ? onToggleAllSourceTypeElements() : null"
                [checked]="sourceTypeSelection.hasValue() && isAllSelected()"
                [indeterminate]="sourceTypeSelection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="onCheckSourceTypeElement($event, element)" [checked]="sourceTypeSelection.isSelected(element)">
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="SourceTypeName">
        <th mat-header-cell *matHeaderCellDef>Source Type</th>
        <td mat-cell *matCellDef="let element" (click)="onClickSourceTypeElement(element); $event.stopPropagation()">
            {{ element.sourceTypeName }}
        </td>
    </ng-container>
    <ng-container matColumnDef="MoreActions">
        <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
        <td mat-cell *matCellDef="let row">
            <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="sourceTypeColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: sourceTypeColumns"></tr>
</table>

<!-- <div class="buttons-row">
    <button *ngIf="canRefreshn()" color="accent" mat-icon-button (click)="onRefreshSourceTypes()">
        <mat-icon>refresh</mat-icon>
    </button>
    <button *ngIf="canRemove()" color="accent" mat-icon-button (click)="onRemoveSourceTypes()">
        <mat-icon>remove</mat-icon>
    </button>
</div> -->
