<div class="source-container">
  <mat-card class="source-type-list-card">
    <app-source-type-list></app-source-type-list>
  </mat-card>
  <mat-card back class="source-type-detail-card">
    <mat-card-title style="padding-left: 20px">{{ getDisplaySourceTypeName() }}</mat-card-title>
    <mat-card-subtitle style="padding-left: 20px">{{ getDisplaySourceTypeDescription() }}</mat-card-subtitle>
    <mat-divider></mat-divider>
    <app-source-type-detail></app-source-type-detail>
  </mat-card>
</div>
