.source-list-table-container {
    height: 580px;
    overflow: auto;
}

.mat-column-SelectAction {
    width: 5%;
}
.mat-column-EditAction {
    width: 5%;
}

.mat-column-SourceName {
    width: 20%;
}

.mat-column-Address {
    width: 70%;
}

.source-type-row td {
    border-bottom-width: 0;
}
